*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family: "Gilda Display", serif;
    /* font-size: 28px; */
    line-height: 1.45;
    overflow-wrap: break-word;
    background-color: #F3EEE7;
}
:root{
    --btn-background-color:#585858;
    --bg-color:#FFFFFF;
    
    
}
ul{
    list-style: none;
    padding: 0px;
}
a{
    text-decoration: none;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}
.p-small{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.p-medium{
    font-size: 15px;
    letter-spacing: .05rem;
}
.btn-bg{
    background-color: var(--btn-background-color);
}

.bg-color{
    background-color: var(--category-background-color);
}
.product-sm-img{
    width: 80px;

}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
    font-size: 24px;
}
.fs-70{
    font-size: 70px;
}
@media (max-width: 767px){
    .fs-sm-14{
        font-size: 14px;
    }
    .fs-sm-15{
        font-size: 15px;
    }
    .fs-sm-16{
        font-size: 16px;
    }
}


.no-focus:focus{
    outline: none !important;
}





/* navbar css start  */
.logo-img{
    width: 180px;
}
@media (max-width: 576px){
    .logo-img{
        width: 100%;
    }
}

/* banner css start  */
.banner-wrapper .owl-prev{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0px, -50%);
}
.banner-wrapper .owl-next{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0px, -50%);
}
.banner-wrapper .owl-next span, .banner-wrapper .owl-prev span{
    font-size: 60px;
}
.product-wrapper .owl-next span, .product-wrapper .owl-prev span{
    font-size: 40px;
}


/* searchsidebar css start  */
.searchsidebar{
   width: 50%;
   left: -100%;
   transition: .3s;
   height: 100vh;
   overflow: auto;
}
@media (max-width: 768px){
    .searchsidebar{
        width: 95%; 
     }
}
/* sidebar css start  */
.sidebar{
   width: 90%;
   left: -100%;
   transition: .3s;
   height: 100vh;
   overflow: auto;
}
.sidebar-list{
    position: relative;
    width: max-content;
    padding-right: 70px;
}
.sidebar-list-link{
    color: #35373bbf;
}
.sidebar-dropdown-wrap{ 
    display: none;
    width: max-content;
    padding: 0px 70px;
}
.sidebar-inner-wrapper{
    padding-top: 100px;
}
.sidebar-list-wrapper{
    min-width: 50%;

}
.sidebar-right2-side-wrapper{
    display: none;
}
@media (max-width: 768px){
    .sidebar{
        width: 95%; 
     }
     .sidebar-list{ 
        padding-right: 20px;
    }
    .sidebar-dropdown-wrap{  
        padding: 0px 20px;
    }
    .sidebar-list-wrapper{
        width: 100%;
        overflow: auto;
    }
}



