*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family: "Gilda Display", serif;
    font-size: 28px;
    line-height: 1.45;
    overflow-wrap: break-word;
    background-color: #F3EEE7;

}
:root{
    --btn-background-color:#585858;
    --bg-color:#FFFFFF;
    
    
}
ul{
    list-style: none;
    padding: 0px;
}
a{
    text-decoration: none;
}
.z-index-2{
    z-index: 2;
}
.p-small{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.p-medium{
    font-size: 15px;
    letter-spacing: .05rem;
}
.btn-bg{
    background-color: var(--btn-background-color);
}

.bg-color{
    background-color: var(--category-background-color);
}
.product-sm-img{
    width: 80px;

}
.fs-70{
    font-size: 70px;
}
.banner-wrapper .owl-prev{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0px, -50%);

}
.banner-wrapper .owl-next{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0px, -50%);
}
.banner-wrapper .owl-next span, .banner-wrapper .owl-prev span{
    font-size: 60px;
}
.product-wrapper .owl-next span, .product-wrapper .owl-prev span{
    font-size: 40px;
}
